.stretchy-potato {
  background-image: url("../../assets/happy-potato-2.png");
  background-size: 100% 100%;
  width: 400px;
  height: 400px;
  cursor: -webkit-grab;
  z-index: 1;
}

.stretchy-potato:active {
  cursor: -webkit-grabbing;
}
