@import url(//fonts.googleapis.com/css?family=Delius);

body {
  margin: 0;
  font-family: "Delius", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
